/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #920404; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

header {
    width: 100%;
    background-color: #333;
    padding: 5px 0; /* Reduced padding */
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
}

header h1 {
    font-size: 1.8em; /* Reduced font size */
    margin-bottom: 5px; /* Reduced margin */
}

main {
    width: 100%;
    max-width: 800px;
    padding: 80px 20px 20px; /* Adjusted padding to account for smaller header */
    background-color: #f8c2b8; 
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

form {
    background-color: #fff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input, select, button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

input[type="datetime-local"] {
    padding: 7px; 
}

button {
    background-color: #F8B8C0; 
    border: none;
    color: black;
    font-size: 1.1em;
    cursor: pointer;
}

button:hover {
    background-color: #ffb3c2; 
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 5px; /* Reduced padding */
    text-align: center;
    font-size: 0.9em; /* Reduced font size */
} 
